@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@300;400&family=Playfair+Display:wght@400..900&family=Protest+Riot&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Oswald';
}
li {
  list-style: none;
}
a li {
  text-decoration: none;
}

.fp-watermark {
  display: none !important;
}

#fp-nav {
  display: none;
}

.fp-right {
  display: flex;
}
